rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isSelf(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write: if isSelf(userId);
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
